# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# If using Django migrations cache
*/migrations/__pycache__/
*/migrations/*.pyc

# Environment
venv/
.env
*.env

# IDEs / Editors
.vscode/
.idea/
*.swp
*~

# OS files
.DS_Store
Thumbs.db

